<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEON - Clone</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="icon" href="static/assets/logo.jpg" type="image/x-icon">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

</head>
<body>


    <nav class="navbar">
        <div class="logo-section">
            <span class="logo-text">ＮＥＯＮ　炎憶ャ</span>
        </div>

        <ul class="nav-links">
            <li><a href="#">Products</a></li>
            <li><a href="#">Solutions</a></li>
            <li><a href="#">Docs</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">Company</a></li>
        </ul>
        <div class="auth-buttons">
            <a href="#"><i class="fab fa-discord"></i></a>
            <a href="#"><i class="fab fa-github"></i></a>
            <a href="#" class="btn login">Login</a>
            <a href="#" class="btn signup">Sign Up</a>
        </div>
    </nav>


    <div class="content">
        <p class="main-heading">Ship faster with Postgres</p>
        <div class="paragraph"><p>The database developers trust, on a serverless platform designed to help</p></div>
        <div class="paragraph"><p>you build reliable and scalable applications faster.</p></div>
        <div class="btn-grp">
            <a href="#" class="btn-mid-signup">Start for Free</a> 
            <a href="#" class="btn-talk">Talk to Us →</a>
        </div>
    </div>


    <div class="card-container">
        <div class="card-big">
            <video src="static/assets/big-card.mp4" autoplay muted loop></video>
            <h2 style="padding-left: 5px;">Scaling</h2>
            <p style="padding-left: 5px;">Focus on building applications with time and money-saving features like instant provisioning, autoscaling according to load, and scale to zero.</p>
        </div>
        <div class="card-small">
            <video src="static/assets/small-card.mp4" autoplay muted loop></video>
            <h2 style="padding-left: 5px;">Branching</h2>
            <p style="padding-left: 5px;">Instantly branch your data and schema to access isolated DB copies for development, CI/CD, and schema migrations with copy-on-write storage.</p>
        </div>
    </div>

    <div class="content">
        <div class="content2">
            <p class="main-heading2"></p>
        </div>
    </div>

    <div class="content">
        <p style="padding-bottom: 30px; font-size: large;">Made by Aryan Chauhan</p>

    </div>


    <script src="script/script.js"></script>
</body>
</html>